[View in Colaboratory](https://colab.research.google.com/github/kalyanpichuka/Complaints_Framework/blob/master/Complaints_Framework_Model_Main.ipynb)

In [0]:
# IMPORTING NECESSARY PACKAGES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
#GOOGLE DRIVE RELATED
!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
#GOOGLE DRIVE RELATED
!mkdir -p drive
!google-drive-ocamlfuse drive

In [0]:
data = pd.read_csv("drive/Complaints_Dataset/complaints-2018-07-20_02_20.csv")

In [6]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
0,02/05/13,Mortgage,FHA mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,"BAYVIEW LOAN SERVICING, LLC",MA,02151,NaN,NaN,Web,02/06/13,Closed with explanation,Yes,No,301664
1,05/15/17,Mortgage,Other type of mortgage,Trouble during payment process,NaN,NaN,Company has responded to the consumer and the ...,BMO HARRIS BANK NATIONAL ASSOCIATION,IL,60165,NaN,NaN,Fax,05/17/17,Closed with explanation,Yes,NaN,2484441
2,09/24/14,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,Ditech Financial LLC,FL,34209,NaN,NaN,Referral,10/01/14,Closed with explanation,Yes,Yes,1043621
3,11/06/15,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,OCWEN LOAN SERVICING LLC,GA,30253,NaN,NaN,Referral,11/09/15,Closed with explanation,Yes,No,1643449
4,03/08/12,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,"CITIBANK, N.A.",NJ,07438,NaN,NaN,Referral,03/08/12,Untimely response,No,No,32218

In [0]:
data = data[data.Company == 'WELLS FARGO & COMPANY']

In [8]:
data.head()

,Date received,Product,Sub-product,Issue,Sub-issue,Consumer complaint narrative,Company public response,Company,State,ZIP code,Tags,Consumer consent provided?,Submitted via,Date sent to company,Company response to consumer,Timely response?,Consumer disputed?,Complaint ID
17,12/05/16,Mortgage,FHA mortgage,"Loan modification,collection,foreclosure",NaN,NaN,Company has responded to the consumer and the ...,WELLS FARGO & COMPANY,NJ,07106,NaN,Consent not provided,Web,12/05/16,Closed with explanation,Yes,No,2236348
20,01/09/13,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN,NaN,NaN,WELLS FARGO & COMPANY,NY,11550,NaN,NaN,Referral,01/11/13,Closed with explanation,Yes,No,225262
24,06/02/14,Mortgage,Other mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,VA,20109,NaN,NaN,Web,06/02/14,Closed with explanation,Yes,No,876185
34,03/18/14,Mortgage,Reverse mortgage,Settlement process and costs,NaN,NaN,NaN,WELLS FARGO & COMPANY,CA,93311,NaN,NaN,Web,03/17/14,Closed with explanation,Yes,No,763623
37,08/06/13,Mortgage,FHA mortgage,"Application, originator, mortgage broker",NaN,NaN,NaN,WELLS FARGO & COMPANY,SD,57106,NaN,NaN,Web,08/07/13,Closed with explanation,Yes,Yes,481692

In [9]:
data.shape

(34481, 18)

In [0]:
#req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company reponse to consumer']
req_cols = ['Date received','Issue','State','Submitted via', 'Date sent to company','Company response to consumer']

In [11]:
data.columns

Index(['Date received', 'Product', 'Sub-product', 'Issue', 'Sub-issue',
       'Consumer complaint narrative', 'Company public response', 'Company',
       'State', 'ZIP code', 'Tags', 'Consumer consent provided?',
       'Submitted via', 'Date sent to company', 'Company response to consumer',
       'Timely response?', 'Consumer disputed?', 'Complaint ID'],
      dtype='object')

In [0]:
data_req = data[req_cols]

In [13]:
data_req.shape

(34481, 6)

In [14]:
data_req.columns

Index(['Date received', 'Issue', 'State', 'Submitted via',
       'Date sent to company', 'Company response to consumer'],
      dtype='object')

In [12]:
data_req['Date received']=pd.to_datetime(data_req['Date received'])
data_req['Date sent to company']=pd.to_datetime(data_req['Date sent to company'])
#data_req.loc[:,data_req.columns.get_loc("Date received")] = pd.to_datetime(data_req['Date received'])
#data_req.loc[:,data_req.columns.get_loc("Date sent to company")] = pd.to_datetime(data_req['Date sent to company'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34481 entries, 17 to 259972
Data columns (total 6 columns):
Date received                   34481 non-null datetime64[ns]
Issue                           34481 non-null object
State                           34113 non-null object
Submitted via                   34481 non-null object
Date sent to company            34481 non-null datetime64[ns]
Company response to consumer    34481 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 1.8+ MB

In [14]:
data_req['Total Days'] = data_req['Date sent to company']-data_req['Date received']
#data_req.loc[:,data_req.columns.get_loc("Total Days")] = data_req['Date sent to company']-data_req['Date received']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
data_req.dtypes

Date received                    datetime64[ns]
Issue                                    object
State                                    object
Submitted via                            object
Date sent to company             datetime64[ns]
Company response to consumer             object
Total Days                      timedelta64[ns]
dtype: object

In [0]:
data_req=data_req.drop(data_req.columns[[0, 4]], axis=1)

In [17]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34481 entries, 17 to 259972
Data columns (total 5 columns):
Issue                           34481 non-null object
State                           34113 non-null object
Submitted via                   34481 non-null object
Company response to consumer    34481 non-null object
Total Days                      34481 non-null timedelta64[ns]
dtypes: object(4), timedelta64[ns](1)
memory usage: 2.8+ MB

In [18]:
data_req['Issue'].value_counts(dropna=False)

Loan modification,collection,foreclosure                                            17355
Loan servicing, payments, escrow account                                             8032
Application, originator, mortgage broker                                             2565
Struggling to pay mortgage                                                           1698
Trouble during payment process                                                       1458
Settlement process and costs                                                         1087
Credit decision / Underwriting                                                        862
Other                                                                                 721
Applying for a mortgage or refinancing an existing mortgage                           310
Closing on a mortgage                                                                 233
Incorrect information on your report                                                   78
Applying for a mortgage                                                                55
Problem with a credit reporting company's investigation into an existing problem       20
Improper use of your report                                                             4
Unable to get your credit report or credit score                                        3
Name: Issue, dtype: int64

In [19]:
data_req['State'].value_counts(dropna=False)

CA     6641
FL     3580
NY     2429
NJ     2159
GA     1662
TX     1628
MD     1355
PA     1293
VA     1092
NC     1050
IL     1041
WA      797
AZ      744
OH      660
MA      619
MI      531
CO      522
MN      517
OR      465
SC      389
CT      388
NaN     368
NV      364
MO      346
TN      331
WI      329
LA      257
IN      250
AL      248
UT      194
       ...
NH      159
KY      147
IA      132
NM      125
OK      124
HI      116
NE      112
KS      108
ID      108
AR      104
ME       96
MS       89
RI       87
AK       74
MT       59
WV       58
SD       43
WY       33
VT       33
ND       32
AE        9
AP        7
PR        6
VI        5
AA        3
GU        3
MH        2
FM        1
AS        1
PW        1
Name: State, Length: 62, dtype: int64

In [20]:
data_req['Submitted via'].value_counts(dropna=False)

Web            18362
Referral       11457
Phone           2006
Postal mail     1876
Fax              757
Email             23
Name: Submitted via, dtype: int64

In [21]:
data_req['Company response to consumer'].value_counts(dropna=False)

Closed with explanation            29511
Closed without relief               1965
Closed with non-monetary relief     1640
Closed with monetary relief         1068
In progress                          166
Closed                                70
Closed with relief                    57
Untimely response                      4
Name: Company response to consumer, dtype: int64

In [22]:
data_req['Total Days'].value_counts(dropna=False)

0 days      13804
1 days       6099
2 days       3419
3 days       2574
4 days       2385
5 days       2030
6 days       1308
7 days        839
8 days        289
-1 days       183
9 days        145
10 days       144
15 days        96
13 days        92
11 days        86
12 days        86
14 days        70
17 days        65
16 days        44
19 days        40
35 days        36
22 days        36
18 days        33
21 days        33
20 days        33
28 days        24
29 days        24
23 days        24
39 days        22
36 days        22
            ...
253 days        1
227 days        1
214 days        1
182 days        1
188 days        1
175 days        1
234 days        1
89 days         1
130 days        1
232 days        1
140 days        1
87 days         1
74 days         1
61 days         1
250 days        1
211 days        1
400 days        1
257 days        1
104 days        1
101 days        1
258 days        1
88 days         1
290 days        1
75 days         1
238 days        1
225 days        1
117 days        1
388 days        1
82 days         1
192 days        1
Name: Total Days, Length: 149, dtype: int64

In [0]:
data_req=data_req.dropna(how='any')

In [24]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34113 entries, 17 to 259972
Data columns (total 5 columns):
Issue                           34113 non-null object
State                           34113 non-null object
Submitted via                   34113 non-null object
Company response to consumer    34113 non-null object
Total Days                      34113 non-null timedelta64[ns]
dtypes: object(4), timedelta64[ns](1)
memory usage: 1.6+ MB

In [0]:
#data_req[:5]['Total Days'] / np.timedelta64(1, 's')
data_req.index = range(data_req.shape[0])

In [27]:
data_req.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34113 entries, 0 to 34112
Data columns (total 5 columns):
Issue                           34113 non-null object
State                           34113 non-null object
Submitted via                   34113 non-null object
Company response to consumer    34113 non-null object
Total Days                      34113 non-null timedelta64[ns]
dtypes: object(4), timedelta64[ns](1)
memory usage: 1.3+ MB

In [28]:
dumy=pd.get_dummies(data_req['Issue'])
dumy.head()

,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",Other,Problem with a credit reporting company's investigation into an existing problem,Settlement process and costs,Struggling to pay mortgage,Trouble during payment process,Unable to get your credit report or credit score
0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [29]:
data_req_new = pd.concat([data_req,dumy],axis=1)
data_req_new.shape

(34113, 20)

In [30]:
dumy=pd.get_dummies(data_req['State'])
dumy.head()

,AA,AE,AK,AL,AP,AR,AS,AZ,CA,CO,...,TN,TX,UT,VA,VI,VT,WA,WI,WV,WY
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34113, 81)

In [32]:
dumy=pd.get_dummies(data_req['Submitted via'])
dumy.head()

   Email  Fax  Phone  Postal mail  Referral  Web
0      0    0      0            0         0    1
1      0    0      0            0         1    0
2      0    0      0            0         0    1
3      0    0      0            0         0    1
4      0    0      0            0         0    1

In [33]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34113, 87)

In [34]:
dumy=pd.get_dummies(data_req['Company response to consumer'])
dumy.head()

,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0

In [35]:
data_req_new = pd.concat([data_req_new,dumy],axis=1)
data_req_new.shape

(34113, 95)

In [36]:
data_req_new=data_req_new.drop(['Issue','State','Submitted via','Company response to consumer'], axis=1)
data_req_new.shape

(34113, 91)

In [15]:
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/1a/d5/54e0efa2ddf33234761f8c35471f4a2280bb4cef44fd39fa08f1e663946a/kmodes-0.9-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn<0.20.0,>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.14.5)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.19.1)
Installing collected packages: kmodes
Successfully installed kmodes-0.9

In [0]:
from kmodes.kmodes import KModes

In [0]:
km = KModes(n_clusters=10, init='Huang', n_init=5, verbose=1)

In [40]:
clusters = km.fit_predict(data_req_new)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 11795, cost: 81918.0
Run 1, iteration: 2/100, moves: 232, cost: 81918.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 6677, cost: 79994.0
Run 2, iteration: 2/100, moves: 0, cost: 79994.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 12183, cost: 83993.0
Run 3, iteration: 2/100, moves: 2990, cost: 83993.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 6934, cost: 80538.0
Run 4, iteration: 2/100, moves: 0, cost: 80538.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 4989, cost: 80935.0
Run 5, iteration: 2/100, moves: 0, cost: 80935.0
Best run was number 2

In [44]:
print(km.cluster_centroids_)

[[Timedelta('1 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('1 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('1 days 00:00:00') 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]
 [Timedelta('2 days 00:00:00') 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0]
 [Timedelta('0 days 00:00:00') 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0]]

In [0]:
clusters=clusters.reshape(34113,1)

In [0]:
class_cluster = pd.DataFrame(clusters,columns=['Class cluster'])

In [47]:
class_cluster.head()

   Class cluster
0              5
1              8
2              6
3              3
4              6

In [48]:
data_req_new.head()

,Total Days,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",...,Referral,Web,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
17,0 days,0,0,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
20,2 days,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
24,0 days,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
34,-1 days,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
37,1 days,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [49]:
#data_req_new.index = range(data_req_new.shape[0])
data_req_new.head()

,Total Days,"Application, originator, mortgage broker",Applying for a mortgage,Applying for a mortgage or refinancing an existing mortgage,Closing on a mortgage,Credit decision / Underwriting,Improper use of your report,Incorrect information on your report,"Loan modification,collection,foreclosure","Loan servicing, payments, escrow account",...,Referral,Web,Closed,Closed with explanation,Closed with monetary relief,Closed with non-monetary relief,Closed with relief,Closed without relief,In progress,Untimely response
0,0 days,0,0,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0
1,2 days,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,0,0,0,0
2,0 days,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,-1 days,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,1 days,1,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

In [0]:
data_req_new = pd.concat([data_req_new,class_cluster],axis=1)

In [10]:
data_req_new.head()

NameError: ignored